jobs:
- job: Win32
  pool:
    vmImage: 'windows-2019'
  steps:
  - script: |
      mkdir build && cd build
      curl -LO https://github.com/bow-simulation/virtualbow-dependencies/releases/download/v1.0/vcpkg-export-x86-windows.zip
      unzip vcpkg-export-x86-windows.zip
      cmake ../ -DCMAKE_TOOLCHAIN_FILE=vcpkg-export-x86-windows/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x86-windows -A Win32
      cmake --build . --config Release
      Release\virtualbow-tests
      cmake --build . --config Release --target iss-installer
  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: 'build/virtualbow-setup.exe'
      artifactName: 'Win32_Artifacts'

- job: Win64
  pool:
    vmImage: 'windows-2019'
  steps:
  - script: |
      mkdir build && cd build
      curl -LO https://github.com/bow-simulation/virtualbow-dependencies/releases/download/v1.0/vcpkg-export-x64-windows.zip
      unzip vcpkg-export-x64-windows.zip
      cmake ../ -DCMAKE_TOOLCHAIN_FILE=vcpkg-export-x64-windows/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-windows -A x64
      cmake --build . --config Release
      Release\virtualbow-tests
      cmake --build . --config Release --target iss-installer
  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: 'build/virtualbow-setup.exe'
      artifactName: 'Win64_Artifacts'

- job: MacOS
  pool:
    vmImage: 'macOS-10.14'
  steps:
  - script: |
      mkdir build && cd build
      curl -LO https://github.com/bow-simulation/virtualbow-dependencies/releases/download/v1.0/vcpkg-export-x64-osx.zip
      unzip vcpkg-export-x64-osx.zip
      curl -LO https://github.com/bow-simulation/virtualbow-dependencies/releases/download/v1.0/qt-5.11.2-x64-osx.zip
      unzip qt-5.11.2-x64-osx.zip
      cmake ../ -DCMAKE_TOOLCHAIN_FILE=vcpkg-export-x64-osx/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-osx -DCMAKE_PREFIX_PATH=$(Build.Repository.LocalPath)/build/qt-5.11.2-x64-osx -DCMAKE_OSX_DEPLOYMENT_TARGET=10.11 -DCMAKE_BUILD_TYPE=Release
      cmake --build .
      ./virtualbow-tests
      npm install -g appdmg@0.5.2
      cmake --build . --target dmg-installer
  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: 'build/virtualbow.dmg'
      artifactName: 'MacOS_Artifacts'

- job: Linux
  pool:
    vmImage: 'ubuntu-16.04'
  variables:
    CC: gcc-9
    CXX: g++-9
  steps:
  - script: |
      mkdir build && cd build
      curl -LO https://github.com/bow-simulation/virtualbow-dependencies/releases/download/v1.1/linux-gcc_64.zip && unzip linux-gcc_64.zip
      cmake ../ -DCMAKE_TOOLCHAIN_FILE=linux-gcc_64/paths.cmake -DCMAKE_BUILD_TYPE=Release
      cmake --build .
      cmake --build . --target deb-package
      cmake --build . --target rpm-package
  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: 'build/virtualbow.deb'
      artifactName: 'Linux_Artifacts'
  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: 'build/virtualbow.rpm'
      artifactName: 'Linux_Artifacts'
